<% include partials/header.ejs %>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/four">Review</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="/hodstatus">Status</a>
          </li>
        </ul>
      </nav>
        <div class="table-wrapper">
                <table class="table table-hovered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Request date</th>
                            <th scope="col">Request Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Work date</th>
                            <th scope="col">Remarks</th>
                            <th scope="col">ID</th>
                            <th scope="col">Review</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <% var id; %>
                            <% if(data.length>0){ 
                                for(var i = data.length-1 ;i >=0;i--) { %>
                              <tr>
                                <td><%=data[i].date%></td>
                                <td><%=data[i].request%></td>
                                <td><%=data[i].description%></td>
                                <td><%=data[i].Bypassdate%></td>
                                <td><%=data[i].remark_1%></td>
                                <td>
                                        <% id= data[i].request_id %>
                              <form method="POST">
                                  
                                  <input type="" name=id value= <%=data[i].request_id%> readonly></td>
                                  <td><button type="submit" name="yes" formaction="/yes">&#9989;</button>
                                  <span>
                                      <button type="submit" name="no" formaction="/no">&#10060;</button>
                                  </span>
                              </form>
                          </td>
                        </tr>
                        <% }

                        }else{ %>
                        <tr>
                          <td colspan="3">No user</td>
                        </tr>
                      <% } %>     
                                
                          
                        
                    </tbody>
                </table>
            
        </div>
    </div>
    
   
</body>
</html>