<% include partials/header.ejs %>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/one">Apply</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/saved">Modify</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="/status">Status</a>
                  </li>
                </ul>
              </nav>
              <body>
                  <div class="table-wrapper">
                          <table class="table table-hovered">
                              <thead class="thead-dark">
                                  <tr>
                                      <th scope="col">Student ID</th>
                                      <th scope="col">Request</th>
                                      <th scope="col">Description</th>
                                      <th scope="col">Remarks</th>
                                      <th scope="col">ID</th>
                                      <th scope="col">SUbmit/Delete</th>
                                   </tr>
                              </thead>
                              <tbody>
                                  <form method="POST">
                                  <% if(data.length>=0){ 
                                    for(var i = data.length-1;i >=0;i--) { %>
                                  <tr>
                                      <td>
                                          <input type="" name=emp_no value= <%=data[i].emp_no %> readonly></td>
                                    <td>
                                      <input type="text" name=request1 value= <%=data[i].request%>/></td>
                                      <td><input type="text" name=description value= <%=data[i].description%>/></td>
                                      <td><input type="text" name=remarks value= <%=data[i].remarks%>/></td>
                                    <td>
                                    
                                        <input type="" name=id value= <%=data[i].request_id %> readonly></td>
                                        <td><button type="submit" name="submit" formaction="/addData">&#9989;</button>
                                        <span>
                                            <button type="submit" name="delete" formaction="/deletesaved">&#10060;</button>
                                        </span>
                                        </td>
                                        
                                    </form>
                                  </tr>
                                  <% }
                                  }else{ %>
                                  <tr>
                                    <td colspan="3">No request</td>
                                  </tr>
                                <% } %>     
                                          
                                    
                                  
                              </tbody>
                          </table>
                      
                  </div>
              </div>
              </body>
              </html> 